<html>

<head>
<title>Index of R demonstrations</title>
</head>

<body>

<p>These are the demonstrations in the Intro Stats series.  These were made for EDF 5400 Introduction to Descriptive and Inferential Statistics, but are probably useful for other classes as well.  Share and enjoy.</p>

<!--begin.rcode
library(shiny)
alist <- function(file) {tags$li(a(basename(file),href=file))}
tag("ul",lapply(list.files(pattern="*.Rmd"),alist))
end.rcode-->

<p> For more information contact <a href="mailto:ralmond@fsu.edu">Russell Almond</a>.</p>

</body>
</html>
